@import "tailwindcss";

/* --- Global Theme Variables --- */
:root {
  --background: #1a1a1a; /* Dark */
  --foreground: #ffffff; /* Light text */

  --color-primary: #8b5cf6; /* Purple Accent */
  --color-card: #2a2a2a;
  --color-navbar: #000000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a1a1a;
    --foreground: #ffffff;
  }
}

/* --- Apply theme to <body> --- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
